{% extends "layout.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}
{% block content %}

<div id="data">
    {% for k, v in headers.iteritems() %}
    <span class="{{ k }}">{{ v }}</span>
    {% endfor %}

    <ul id="messages">
    </ul>

    {% for row in data: %}
    <script>
        var $messages = $('#messages');
        {% for key, value in row.iteritems() %}
        $messages.append($('<li class="{{ key }}">').text({{ value|tojson|safe }}));
        {% endfor %}
    </script>
    {% endfor %}
</div>

{% endblock %}
