{% extends "layout.html" %}
{% block content %}

<div id="data">
    <ul id="messages">
    </ul>

    {% for user_input, original_system, current_system in data: %}
    <script>
        var $messages = $('#messages');
        $messages.prepend($('<li class="user">').text({{ user_input|tojson|safe }}))
        $messages.prepend($('<li class="original_system">').text({{ original_system|tojson|safe }}))
        $messages.prepend($('<li class="current_system">').text({{ current_system|tojson|safe }}))
    </script>
    {% endfor %}
</div>

{% endblock %}
