{% extends "layout.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}
{% block content %}

<div id="data">
    <span class="user">User</span>
    <span class="original_system">Original system</span>
    <span class="current_system">Current system</span>
    <ul id="messages">
    </ul>

    {% for user_input, original_system, current_system in data: %}
    <script>
        var $messages = $('#messages');
        $messages.append($('<li class="user">').text({{ user_input|tojson|safe }}))
        $messages.append($('<li class="original_system">').text({{ original_system|tojson|safe }}))
        $messages.append($('<li class="current_system">').text({{ current_system|tojson|safe }}))
    </script>
    {% endfor %}
</div>

{% endblock %}
