
.socketbot {
    background-color: #E6E6E6;
    text-align: right;
}

.user {
    background-color: #F1F1F1;
}

.original_system {
    background-color: #FAEBD7;
}

.current_system {
    background-color: #99CCFF;
}

#messages { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    position: absolute;
    width: 940px;
    height: 70%;
    overflow: scroll;
}
#messages li { 
    padding: 5px 10px; 
}

form {
    padding: 10px;
    width:100%;
}

#m {
    width:450px;
}
