#messages {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    position: absolute;
    width: 940px;
    height: 70%;
    overflow: scroll;
}

#messages li { 
    padding: 5px 10px; 
}

form {
    padding: 10px;
    width:100%;
}

#m {
    width:450px;
}

/* The names should match the aliases in cbot/bot/aliases.py */

.human {
    margin-top: 15px;
    /* border-top-style: dotted; */
    background-color: #F1F1F1;
}

.chat_bot {
    background-color: #FAEBD7;
    text-align: right;
}

.belief_state {
    background-color: #88CCFF;
    font-size: 80%;
}

.replayed {
    background-color: #F4DBC7;
    text-align: right;
}


.belief_state_replayed {
    background-color: #88BBDD;
    font-size: 80%;
}
