{% extends "layout.html" %}
{% block extra_css %}
<script async src="{{ url_for('static', filename='chat.css') }}"></script>
{% endblock %}
{% block extra_js %}
<script async src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script async src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
{% block content %}
<ul id="messages">
</ul>
<form action="">
    <input id="m" autocomplete="off" />
    <button>Send</button>
</form>
{% endblock %}
