{% extends "layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}
{% block extra_js %}
    <script async src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script async src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
{% block content %}
<ul id="messages">
</ul>
<form action="">
    <input id="m" autocomplete="off" value="Say hello..."/>
    <button>Send</button>
</form>
{% endblock %}
