<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<title>Clever robot</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="span9">
                    <h1>Cleve-r-obot <small>so clever that cannot spell two words</small></h1>
                </div>
            </div>
        </div>
        <div>
            Hey guys! Just wait till I learn something!
        </div>
    </div>
</body>
</html>
