<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    {% block extra_css %}{% endblock %}
    <script async src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
    <title>{% block title %}Clever robot{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">
{% block body %}
<div class="page-header">
    <div class="row">
        <div class="span9">
            <h1>Cleve-r-obot <small>so clever that cannot spell two words</small></h1>
        </div>
    </div>
</div>
<div class="well" style="margin-top: 20px">
    <h4>Privacy &amp; Terms</h4>
    <p>
        All data is stored for the purpose of dialogue quality improvement.
        Note that the data can be shared with third parties for both research and commercial purposes.
        All collected data will be made available to the statistical dialogue system community;
        therefore, do not say anything you do not want anyone to know about.
    </p>
    <p>
        As of now, this service is a alpha product; thus, things may break and the service may not be available for large periods of time.
    </p>
</div>
<div class="content">
{% block content %}
{% endblock %}
</div>
{% endblock %}
</div>
</body>
</html>
